/*-----------------Normalize-----------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-----------------Normalize-----------------*/

@font-face {
    font-family: Raleway;
    src: url(Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Marker;
    src: url(PermanentMarker-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    font-family: Raleway;
}

h1 {
    font-size: 70px;
    color:white;
    font-family: Marker;
    font-weight: lighter;
}

h2 {
    font-size: 30px;
    padding: 0px 0px 30px 0px;
    font-weight: 600;
    line-height: 40px;
    color:#3f3f3f
}

h3 {
    font-size: 20px;
    color:#3f3f3f
}

header, footer, .formcontainer {
    padding-left: 60px;
    padding-right: 60px;
}

header {
    margin-bottom: 50px;
    max-width: 1000px;
}


em {
    font-style: italic;
}

input {
    font-family: Raleway;
    height: 40px;
    width: 300px;
    font-size: 20px;
    margin-bottom: 30px;
    border: #d7dfdd 1px solid;
    border-radius: 5px;
}

input:focus {
    box-shadow: 0px 10px 17px -5px #9BA5A3;
    outline: rgba(66,168,225,1) 3px solid;
}

input[type=submit] {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border-width: 0px;
    background: linear-gradient(53deg, rgba(66,168,225,1) 0%, rgba(16,118,200,1) 100%);
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 10px 17px -5px #9BA5A3;
}

label {
    font-size: 14px;
    font-weight: bold;
    color:#636363;
    padding-bottom: 3px;
}

footer {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

footer a {
    color: #383838;
}

.logotext {
    margin-top: 300px;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 10px;
}

.photocredit {
    margin-top: auto;
    margin-bottom: 50px;
    text-align: center;
}

.photocredit p, a {
    color: white;
}

.leftcol {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-image: url("background_image_2.jpg");
    background-size: 2000px;
    background-position: center;
}

.rightcol {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color:rgb(232, 234, 235);
    justify-content: center;
}


.formcontainer {
    background-color: white;
    box-shadow: 0px 10px 17px -5px #9BA5A3;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.formrow {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.formandlabel {
    display: flex;
    flex-direction: column;
}

.formcontainer form {
    display: flex;
    flex-direction: column;
}

.formleftcol, .formrightcol {
    display: flex;
    flex-direction: column;
}
